@page
@model Nigel.Web.Pages.Admin.Sys.Admin.RecordModel

@{
    Layout = "~/Pages/Admin/Shared/_LayoutAdminiFrame.cshtml";
}
@section Scripts{
    <script src="~/js/admin/sys/admin/record.js"></script>
}

<section class="panel panel-default padder m-t text-sm">
    <div class="table-responsive">
        <div id="custom-toolbar">
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group btn-group-sm" style="display:inline;">
                        <a href="#" class="btn btn-default btnRefresh"><i class="fa fa-refresh m-r-xs"></i>刷新</a>
                    </div>
                    <div class="input-group input-group-sm" style="width: 250px; padding-left: 10px;">
                        @*<div class="input-group-btn">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">姓名</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-select text-sm">
                                    <li>
                                        <input type="radio" value="Name" name="field" checked="checked" /><a href="#">姓名</a>
                                    </li>
                                    <li>
                                        <input type="radio" value="Mobile" name="field" /><a href="#">手机号码</a>
                                    </li>
                                    <li>
                                        <input type="radio" value="UserName" name="field" /><a href="#">帐号</a>
                                    </li>
                                </ul>
                            </div>*@
                        <input type="text" id="search" class="form-control" placeholder="输入关键词后回车..." />
                    </div>
                </div>
            </div>
        </div>
        <table id="table"></table>
    </div>
</section>
