# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/XUCore.Template.Ddd/Content/XUCore.Template.Ddd/.vs
/XUCore.Template.Easy/Content/XUCore.Template.Easy/XUCore.Template.Easy.WebApi/wwwroot/upload/image/20210629
/XUCore.Template.EasyLayer/Content/XUCore.Template.EasyLayer/.vs
/XUCore.Template.Layer/Content/XUCore.Template.Layer/.vs
/XUCore.Template.FreeSql/Content/XUCore.Template.FreeSql/.vs
/XUCore.Template.EasyFreeSql/Content/XUCore.Template.EasyFreeSql/.vs
/XUCore.Template.Razor/Content/XUCore.Template.Razor/.vs/XUCore.Template.Razor
/XUCore.Template.Razor/Content/XUCore.Template.Razor/XUCore.Template.Razor.Web/wwwroot/upload/image/20211201
.vscode
20211215
/XUCore.Template.Razor2/Content/XUCore.Template.Razor2/.vs/XUCore.Template.Razor2/DesignTimeBuild/.dtbcache.v2
/XUCore.Template.Razor2/Content/XUCore.Template.Razor2/.vs/XUCore.Template.Razor2/project-colors.json
/XUCore.Template.Razor2/Content/XUCore.Template.Razor2/.vs/XUCore.Template.Razor2/v17/.futdcache.v1
/XUCore.Template.Razor2/Content/XUCore.Template.Razor2/.vs/XUCore.Template.Razor2/v17/.suo
/XUCore.Template.Razor2/Content/XUCore.Template.Razor2/.vs/XUCore.Template.Razor2/v17/fileList.bin
/XUCore.Template.WeChat/XUCore.Template.WeChat/.vs/XUCore.Template.WeChat
