@page
@model XUCore.Template.Razor.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "后台管理";
    Layout = "~/Pages/Admin/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
<script type="text/javascript">
    $(function () {
        window.nthTabs = $("#tabContainer").nthTabs();
        nthTabs.addTab({
            id: 'hello',
            title: '<i class="fa fa-bookmark-o m-r-xs"></i><span>欢迎您</span>',
            href: '/admin/hello',
            active: true,
            allowClose: false,
        }).setActTab("#hello");

        $('a[data-nav]').click(function () {
            addTab({
                id: $(this).data('id'), href: $(this).attr('href'), icons: $(this).data('icons'), text: $(this).text()
            });
            return false;
        });
    });
    var addTab = function (opts) {
        var id = opts.id;
        var href = opts.href;
        var icon = opts.icons || 'fa fa-file-o m-r-xs';
        var text = opts.text;
        nthTabs.addTab({
            id: id,
            title: '<i class="' + icon + '"></i><span>' + text + '</span>',
            href: href
        }).setActTab('#' + id);
    }
    var closeTab = function (id) {
        nthTabs.delTab(id);
    }
</script>
}
<section class="vbox">
    @await Component.InvokeAsync("_LayoutAdminHeader")
    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <aside class="bg-black dk aside hidden-print" id="nav">
                <section class="vbox">
                    @await Component.InvokeAsync("_LayoutAdminNav")
                </section>
            </aside>
            <!-- /.aside -->
            <section id="content">
                <section class="vbox">
                    <section class="">
                        <div class="nth-tabs" id="tabContainer"></div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>