@page
@model XUCore.Template.Razor.Web.Pages.Admin.Sys.Admin.Menu.ListModel

@{
    Layout = "~/Pages/Admin/Shared/_LayoutAdminiFrame.cshtml";
}
@section Scripts{

<script type="text/javascript">

    $(function () {
        "use strict";

        var $table = $('#table');

        createTable($table, {
            url: '?handler=MenuByList',
            pagination: false,
            columns: [
                { field: 'Name', title: '导航名称', sortable: false, align: 'left' },
                {
                    field: 'Icon', title: '导航图标', sortable: false, align: 'left',
                    editable: {
                        type: 'text', title: '导航图标'
                    }
                },
                {
                    field: 'Url', title: '导航地址', sortable: false, align: 'left',
                    editable: {
                        type: 'text', title: '导航地址', validate: function (value) {
                            value = $.trim(value);
                            if (!value) return '必填项';
                            return '';
                        }
                    }
                },
                {
                    field: 'OnlyCode', title: '唯一权限代码', sortable: false, align: 'left',
                    editable: {
                        type: 'text', title: '唯一权限代码', validate: function (value) {
                            value = $.trim(value);
                            if (!value) return '必填项';
                            return '';
                        }
                    }
                },
                { field: 'IsMenu', title: '导航', sortable: false, align: 'center', formatter: operateBoolFormatter },
                { field: 'IsExpress', title: '快速', sortable: false, align: 'center', formatter: operateBoolFormatter }
            ],
            defaultColumn: {
                check: true,
                operate: true,
                weight: true,
                status: true,
                create: true,
                update: false
            },
            queryParams: function (params) {
                params.status = $('input[type=radio][name=Status]:checked').val();
                return params;
            },
            onContextMenuItem: function (row, $el) {
                var item = $el.data('item');
                switch (item) {
                    case 'edit':
                        window.parent.addTab({ id: 'admin-menu-update-' + row.Id, href: '/admin/sys/admin/menu/update/' + row.Id, icons: 'fa fa-plus-circle m-r-xs', text: '修改导航' + row.Id });
                        break;
                    case 'publish':
                        show.confirm(function () {
                            putStatus({ table: $table, status: statusModel.show, batch: false, id: row.Id })
                        });
                        break;
                    case 'trash':
                        show.confirm(function () {
                            putStatus({ table: $table, status: statusModel.trash, batch: false, id: row.Id })
                        });
                        break;
                    case 'soldout':
                        show.confirm(function () {
                            putStatus({ table: $table, status: statusModel.soldout, batch: false, id: row.Id })
                        });
                        break;
                    case 'delete':
                        show.confirm(function () {
                            deleteRecords({ table: $table, batch: false, id: row.Id })
                        });
                        break;
                }
            },
            onEditableSave: function (field, row, oldValue, $el) {
                switch (field) {
                    case 'Icon': putField({ table: $table, row: row, field: 'Icon' }); break;
                    case 'Url': putField({ table: $table, row: row, field: 'Url' }); break;
                    case 'OnlyCode': putField({ table: $table, row: row, field: 'OnlyCode' }); break;
                    case 'Weight': putField({ table: $table, row: row, field: 'Weight' }); break;
                }
            }
        });


        $('.btnRefresh').click(function () {
            $table.bootstrapTable('refresh', { silent: true });
            return false;
        });
        $('#statusContainer li').on('click.bs.dropdown', function () {
            window.setTimeout(function () {
                $table.bootstrapTable('refresh', { silent: true });
            }, 50)
        })

        $('#btnPublish').click(function () {
            show.confirm(function () {
                putStatus({ table: $table, status: statusModel.show })
            });
            return false;
        });
        $('#btnTrash').click(function () {
            show.confirm(function () {
                putStatus({ table: $table, status: statusModel.trash })
            });
            return false;
        });
        $('#btnSoldOut').click(function () {
            show.confirm(function () {
                putStatus({ table: $table, status: statusModel.soldout })
            });
            return false;
        });

        $('#btnDelete').click(function () {
            show.confirm(function () {
                deleteRecords({ table: $table })
            });
            return false;
        });
    });
</script>
}

<section class="panel panel-default padder m-t padder-v text-sm" style="padding-top:0;">
    <div class="table-responsive">
        <div id="custom-toolbar">
            <div class="row">
                <div class="col-sm-8">
                    <div class="btn-group btn-group-sm">
                        <a href="#"
                            onclick="window.parent.addTab({ id: 'admin-menu-add', href: '/admin/sys/admin/menu/add', icons: 'fa fa-plus-circle m-r-xs', text: '新增导航' });"
                            class="btn btn-default" asp-access asp-access-key="sys-menus-add"><i
                                class="fa fa-plus-circle m-r-xs"></i>新增</a>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-edit m-r-xs"></i>数据操作
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li asp-access asp-access-key="sys-menus-edit">
                                    <a href="#" id="btnPublish"><i class="fa fa-check m-r-xs"></i>批量发布</a>
                                </li>
                                <li asp-access asp-access-key="sys-menus-edit">
                                    <a href="#" id="btnSoldOut"><i class="fa fa-eye-slash m-r-xs"></i>批量下架</a>
                                </li>
                                <li asp-access asp-access-key="sys-menus-edit">
                                    <a href="#" id="btnTrash"><i class="fa fa-trash-o m-r-xs"></i>扔回收站</a>
                                </li>
                                <li asp-access asp-access-key="sys-menus-delete" class="divider"></li>
                                <li asp-access asp-access-key="sys-menus-delete">
                                    <a href="#" id="btnDelete"><i class="fa fa-ban m-r-xs"></i>永久删除</a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group input-group-sm" style="width: 350px; padding-left: 10px;">
                            <div class="input-group-btn m-r" id="statusContainer">
                                <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                    <span class="dropdown-label">全部数据</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-select">
                                    @foreach (var item in XUCore.Helpers.Enum.GetDictionary<Status>())
                                    {
                                        <li>
                                            @Html.RadioButton("Status", item.Key)
                                            <a href="#">@item.Value</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <a href="#" class="btn btn-default btn-sm btnRefresh"><i
                                    class="fa fa-refresh m-r-xs"></i>刷新</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="context-menu" class="dropdown-menu text-sm">
            <li data-item="edit" asp-access asp-access-key="sys-menus-edit">
                <a href="#"><i class="fa fa-edit m-r-xs"></i>修改数据</a>
            </li>
            <li asp-access asp-access-key="sys-menus-edit" class="divider"></li>
            <li data-item="publish" asp-access asp-access-key="sys-menus-edit">
                <a href="#"><i class="fa fa-check m-r-xs"></i>发布数据</a>
            </li>
            <li data-item="soldout" asp-access asp-access-key="sys-menus-edit">
                <a href="#"><i class="fa fa-eye-slash m-r-xs"></i>下架数据</a>
            </li>
            <li data-item="trash" asp-access asp-access-key="sys-menus-edit">
                <a href="#"><i class="fa fa-trash-o m-r-xs"></i>扔回收站</a>
            </li>
            <li asp-access asp-access-key="sys-menus-delete" class="divider"></li>
            <li data-item="delete" asp-access asp-access-key="sys-menus-delete">
                <a href="#"><i class="fa fa-ban m-r-xs"></i>永久删除</a>
            </li>
        </ul>
        <table id="table"></table>
    </div>
</section>