/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.banner {
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 188px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
}
.banner .logotxt a {
    font-weight: 700;
    color: #fff;
    font-size: 64px;
}

.content {
    color: #000000;
}
.content img{
    max-width:100%;
}
.header {
    background-image: url(/images/overlay.svg);
    background-size: cover;
}
.index .masthead {
    position: relative;
    background-color: #545ca6;
    background-image: url(/images/overlay.svg);
    /*,linear-gradient(45deg,#545ca6 0%,#6f76af 100%)*/
    background-size: cover;
    z-index: 0;
    overflow: hidden;
}

    .index .masthead svg.wave {
        position: absolute;
        bottom: -1px;
        left: 0;
    }

    .index .masthead .h1 {
        color: #fff;
    }

    .index .masthead .h4 {
        color: rgba(255,255,255,.6);
        line-height: 1.4;
        letter-spacing: 1px;
    }

    .index .masthead .h5 {
        color: rgba(255,255,255,.6);
        line-height: 1.4;
        letter-spacing: 1px;
    }

    .index .masthead .wrapper-lg {
        margin-bottom: 10rem;
        padding-top: 3rem;
    }

    .index .masthead .col-sm-10 {
        padding: 3rem;
    }

        .index .masthead .col-sm-10 .btn {
            margin-top: 3rem;
        }

        .index .masthead .col-sm-10 .browser {
            position: absolute;
            width: 100%;
            left: 50%;
            bottom: -160%;
            margin-left: -50%;
        }

.index .index-banner-svg {
    pointer-events: none
}

    .index .index-banner-svg .a {
        fill: none;
    }

    .index .index-banner-svg .b {
        clip-path: url(#a);
    }

    .index .index-banner-svg .c,
    .index .index-banner-svg .d {
        fill: #f2f4f8;
    }

    .index .index-banner-svg .d {
        opacity: 0.5;
        isolation: isolate;
    }

.index .block-1 {
    padding: 3rem 0;
}

.index .block-2 {
    padding: 3rem 0;
    background-color: #fff;
}

.index .block-3 {
    padding: 3rem 0;
    background-color: #fff;
}

    .index .block-3 .thumbnail img {
        width: 100px;
        border-radius: 50%;
        margin: 20px auto;
    }




.contact {
    color: #000000;
}

    .contact .panel-heading a {
        font-size: 14px !important;
        color: #000000 !important;
    }

    .contact .panel-body p,
    .contact .panel-body blockquote {
        /*font-size: 13px !important;*/
        line-height: 1.5 !important;
    }

    .contact .panel-body blockquote {
        margin: 15px 10px;
        padding: 0 10px;
    }

    .contact .title {
        margin-left: -90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .contact .title img {
            width: 150px;
        }

    .contact .wrapper-md {
        margin: -30px -30px 0;
    }

    .contact .post-sum {
        margin-top: 30px;
    }

    .contact .subtitle {
        margin: 60px -60px 40px;
        padding: 0;
        height: 1px;
        position: relative;
    }

        .contact .subtitle h2 {
            background-color: #545ca6;
            font-size: 16px;
            padding: 6px;
            width: 140px;
            color: #fff;
            position: absolute;
            bottom: 0;
            border-top-right-radius: 2px;
            letter-spacing: 2px;
        }

    .contact blockquote.pingjia {
        font-size:14px;
        margin: 20px 0;
        padding: 15px;
        background: #f9f9f9;
        border-left: 5px solid #ccc;
        quotes: "\201C""\201D""\2018""\2019";
    }

        .contact blockquote.pingjia:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        .contact blockquote.pingjia p {
            display: inline;
            line-height: 1.7;
        }

    .contact .tags {
        margin: 30px 0;
    }

        .contact .tags label {
            display: inline-block;
        }



.resume1 {
    color: #000000;
}
    .resume1 .panel {
        border-top: 1.5px #545ca6 solid;
        margin-bottom: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .resume1 .panel .panel-heading {
        padding-left: 10px;
        color: #000;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
        .resume1 i.icon {
            border: 1px #808080 solid;
            border-radius: 50%;
            padding: 4px;
            font-size: 10px;
            color: #808080;
        }
    .resume1 .panel-heading a {
        /*font-size: 13px !important;*/
        color: #000000 !important;
    }

    .resume1 .panel-body p,
    .resume1 .panel-body blockquote {
        /*font-size: 13px !important;*/
        line-height: 1.5 !important;
    }

    .resume1 .panel-body blockquote {
        margin: 15px 10px;
        padding: 0 10px;
    }

    .resume1 .title {
        margin-left: -90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .resume1 .title img {
            width: 150px;
        }

    .resume1 .wrapper-md {
        margin: -30px -30px 0;
    }

    .resume1 .subtitle {
        margin: 40px 0 -1px;
        padding: 0;
        height: 0;
        position: relative;
    }

        .resume1 .subtitle h2 {
            background-color: #545ca6;
            /*font-size: 13px;*/
            padding: 6px;
            color: #fff;
            position: absolute;
            bottom: 0;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
        }
        .resume1 .subtitle h2 i {
            margin-right:3px;
        }

    .resume1 blockquote.pingjia {
        font-size: 14px;
        padding: 15px;
        border-left: 0;
        quotes: "\201C""\201D""\2018""\2019";
        margin-bottom: 0;
    }

        .resume1 blockquote.pingjia:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        .resume1 blockquote.pingjia p {
            display: inline;
            line-height: 1.7;
        }

    .resume1 .unit{
        color:#808080;
        margin-right:3px;
        font-size:80%;
    }

    .resume1 .tags label {
        color: #000;
        /*font-size: 13px;*/
        border-bottom: 1px #dadada solid;
        font-weight: normal;
        border-radius: 0;
        margin-right: 5px;
        padding: 2px 5px;
        line-height: 2;
    }

    .resume1 .panel-list .panel {
        border: 0;
        margin-bottom: 0;
        border: 0;
    }

        .resume1 .panel-list .panel .panel-body {
            border-bottom: 1px #eaeef1 solid;
        }
        .resume1 .panel-list .panel .no-borders {
            border-bottom: 0;
        }




.resume2 {
    color: #000000;
}
    .resume2 .panel {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .resume2 .panel-block {
        border-top: 1.5px #545ca6 solid;
        margin-bottom: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

        .resume2 .panel-block .panel-heading {
            padding-left: 10px;
            color: #000;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .resume2 i.icon {
        border: 1px #808080 solid;
        border-radius: 50%;
        padding: 4px;
        font-size: 10px;
        color: #808080;
    }

    .resume2 .panel-heading a {
        /*font-size: 13px !important;*/
        color: #000000 !important;
    }

    .resume2 .panel-body p,
    .resume2 .panel-body blockquote {
        /*font-size: 13px !important;*/
        line-height: 1.5 !important;
    }

    .resume2 .panel-body blockquote {
        margin: 15px 10px;
        padding: 0 10px;
    }

    .resume2 .title {
        margin-left: -90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .resume2 .title img {
            width: 150px;
        }

    .resume2 .wrapper-md {
        margin: -30px -30px 0;
    }

    .resume2 .subtitle {
        margin: 40px 0 -1px;
        padding: 0;
        height: 1px;
        position: relative;
    }

        .resume2 .subtitle h2 {
            background-color: #545ca6;
            /*font-size: 13px;*/
            padding: 6px;
            color: #fff;
            position: absolute;
            bottom: 0;
            border-top-right-radius: 2px;
        }

            .resume2 .subtitle h2 i {
                margin-right: 3px;
            }

    .resume2 blockquote.pingjia {
        font-size: 14px;
        margin: 0;
        padding: 15px;
        border-left: 0;
        quotes: "\201C""\201D""\2018""\2019";
    }

        .resume2 blockquote.pingjia:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

    .resume2 blockquote.pingjia p {
        display: inline;
        line-height: 1.7;
    }

    .resume2 .unit {
        color: #808080;
        margin-right: 3px;
        font-size: 80%;
    }

    .resume2 .tags label {
        color: #000;
        /*font-size: 13px;*/
        border-bottom: 1px #dadada solid;
        font-weight: normal;
        border-radius: 0;
        margin-right: 5px;
        padding: 2px 5px;
        line-height: 2;
    }

    .resume2 .panel-list .panel {
        border: 0;
        margin-bottom: 0;
        border: 0;
    }

        .resume2 .panel-list .panel .panel-heading,
        .resume2 .panel-list .panel .panel-body {
            border-bottom: 1px #eaeef1 solid;
        }
            .resume2 .panel-list .panel .no-borders,
            .resume2 .panel-list .panel .panel-heading.no-borders,
            .resume2 .panel-list .panel .panel-body.no-borders {
                border-bottom: 0;
            }
